* {
	font-family: 'Open Sans', arial;
	margin: 0;
}

.area {
    width: auto;
    max-width: 1170px;
    margin: 15px auto;
    
}

.section {
	margin: 0 20px;
}

.header-line {
    
    text-transform: uppercase;
    font-size: 15px;
}

.header__logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgb(82, 138, 82);
    border-radius: 15px;
}

.menushka__menu {
	font-size: 18px;
	cursor: pointer;
	float: right;
	height: 50px;

	margin-top: -20px;
}

.menushka {
	display: block;
}


.menushka__intro {
	margin-right: 10px;
	font-size: 13px;
	display: none;
}


@media screen and (min-width: 700px) {
	.menushka__intro {
		display: inline-block;
		width: 80%;
 	   	margin-left: 190px;
	}

	.menushka__menu {
		display: none;
	}

	.header__logo {
		transform: translateY(10%);	
	}

}

.link {
	color: #000;
	text-decoration: none;
	display: block;
    margin-left: 45px;
}

.link:last-child {
	color: #000;
	
    text-decoration: none;
	font-size: 15px;
	
}

@media screen and (min-width: 700px) {
	.link {
		display: inline-block;
		font-size: 14px;
		transform: translateY(-150%);
	}

	.link:last-child {
		margin-left: 100px;
		font-weight: 700;
		font-size: 16px;
		transform: translateY(-120%);
	}
}

.slideshow-container {
    position: relative;
    margin: 0;
}

.slides {
    width: auto;
    display: none;
    position: relative;
}


.section-header__title {
    width: 50%;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    margin: 10px 15px;
}
  
.section__title {
    line-height: 1.5;
}

.section__suptitle {
	margin: 20px 0;
	font-size: 20px;
}

@media screen and (min-width:350px) {
	.section-header__title {
		margin: 15px 25px;
		
		font-size: 20px;
		line-height: 0.8;
	}

	.slideshow-container__dons {
		left: 60%;
	}
}

@media screen and (min-width:700px) {
	.section-header__title {
		margin: 30px 15px;
		font-size: 32px;
		line-height: 0.8;
	}

	.slideshow-container__dons {
		left: 80%;
	}

}

@media screen and (min-width:1200px) {
	.section-header__title {
		margin: 50px 15px;
		font-size: 33px;
	}

	.section__title {
		font-size: 23px;
	}
}
  
.section__image {
	width: 100%;
	margin: 0;
    height: 350px;
    object-fit: cover;
    margin-bottom: -5px;
}

.section__text {
	padding: 15px 0;
	font-size: 13px;
	line-height: 1.4;
	width: 90%;
	font-weight: normal;
}


@media screen and (min-width:800px) {
	.section__text {
		margin: 10px 0;
		font-size: 14px;
		line-height: 1.5;
		
		height: 100px;
	
	}
}

@media screen and (min-width:1370px) {
	.section__text {
		width: 500px;
	}
}

.btns {

	font-size: 20px;
	text-transform: uppercase;
	margin-top: 40px;
}

#btns__popap{
	display: none;
	opacity: 0.8;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	background-color: rgba(1, 1, 1, 0.725);
	z-index: 100;
	overflow: auto;
}
 
#btns__window{
	width: 330px;
	height: 250px;
	margin: 50px auto;
	display: none;
	background: #fff;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 30%;
	bottom: 0;
	padding: 6px;
}

.btns__close{
	width: 80px;
	height: 50px;
	font-size: 18px;
	color: #fff;
	background-color: rgb(82, 138, 82);;
	border: 0;
	margin: 10px 50px;
	padding: 10px 10px;
}

.btns__close:hover {
	cursor: pointer;
	color: blue;
	transition: color 0.3s ease;

}


.btns__donload {
	width: 70px;
	height: 50px;
	
	
	cursor: pointer;
	font-size: 18px;
	
	color: #fff;
	background-color: rgb(82, 138, 82);;
	border: 0;
}

.fa-check {
	cursor: pointer;
	
	margin: 10px 20px;
	color: #fff;

}

.fa-check:hover {
	cursor: pointer;
	color: blue;
	transition: color 0.3s ease;

}

.btns__formValue {
	font-size: 18px;
	width: 280px;
	height: 30px;
	margin: 20px;
	padding: 5px;
	border: 1px solid #000000;
}

.btns__formValue:hover {
	cursor: pointer;
	border:1px solid blue;

	transition: border 0.3s ease;
}

.btns__click{
	width: 200px;
	height: 50px;
	background-color: rgb(82, 138, 82);
	color: #fff;
    border: 0;
    font-size: 18px;
    text-transform: uppercase;
}

.btns__click:hover {
	color: rgb(137, 238, 213);
	transition: color 0.3s ease;
	cursor: pointer;
}

.dots {
	display: block;
}

.dot {
	display: block;
	cursor: pointer;
	height: 8px;
	width: 8px;
	margin: 0;
	background-color: #fff;
	border-radius: 50%;
	transition: background-color 0.3s ease;
}

.dot:hover {
	background-color: #000;
}

.dot_active {
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.363);
}


.slideshow-container__dons {

	position: absolute;
	top:50%;
	transform: translateY(-50%);
	left: 75%;
}

.dots__item {
	margin-bottom: 30px;
}

.dots__item:last-child {
	margin-bottom: 0;
}

.feature-list {
	display: block;
}


.feature-list__item {
	width: 300px;
	margin: 20px 20px;
	
}

@media screen and (min-width:480px) {
	.feature-list__item {
		display: inline-block;
		width: 40%;
	}

	.feature__img {
		width: 90px;
		height: 80px;
	}
	
  }

  @media screen and (min-width:1165px) {
	.feature-list__item {
		width: 22%;
		margin: 20px auto;
	}

	.feature__img {
		width: 100px;
		height: 90px;
	}

}

.feature {
	vertical-align: top;
	text-align: center;
}

.feature__img {
	width: 70px;
	height: 60px;
	
}

.feature__title {
	margin: 10px 0;
	font-size: 14px;
	font-weight: bold;
	
}

@media screen and (min-width:800px) {
	.feature__title {
		font-size: 18px;
	}

	.feature__text {
		font-size: 14px;
	}
}
.feature__text {
	font-size: 13px;
	line-height: 1.4;

}

.sportman {
	background-color: #f1f0f6;
	background-position: cover;
	padding: 20px 0;
	height: 600px;
}

.sportman-list__img {
	width: 100%;
	height: 300px;
}


.sportman-part {
	width: 100%;
	height: 200px;
	margin: 0;
	color: #000;
}

@media screen and (min-width:250px) {
	.sportman {
		height: 700px;
		
	}

	.sportman-part__title {
		font-size: 18px;
	}
}

@media screen and (min-width:350px) {
	.sportman {
		height: 650px;
	}
}

@media screen and (min-width:400px) {
	.sportman {
		height: 600px;
	}
}


@media screen and (min-width:500px) {
	.sportman {
		height: 700px;
	}

	.sportman-list {
		text-align: center;
	}

	.sportman-part {
		width: auto;
		margin: 0 80px;
		flex-wrap: wrap;
	}

	.sportman-part__title {
		font-size: 20px;
	}

	.sportman-list__img {
		width: 450px;
	}

	.sportman-part__btn {
		margin-top: -20px;
	}
	
}
	
@media screen and (min-width:590px) {
	.sportman {
		height: 580px;
	}

}

@media screen and (min-width:610px) {
	.sportman {
		height: 630px;
	}

	
	.sportman-part__btn {
		margin-top: -10px;
	}
	
}

@media screen and (min-width:710px) {
	.sportman {
		height: 600px;
	}

	
}

@media screen and (min-width:1100px) {
	.sportman {
		height: 350px;
	}

	.sportman-list {
		display: inline-block;
	}

	.sportman-part {
		display: inline-block;
	}

	.sportman-list__img {
		width: 500px;
		height: 320px;
	}
	
}

.sportman-part__title {
	width: 100%;
	font-size: 18px;
}

@media screen and (min-width:1100px) {
	.sportman-part__title {
		font-size: 23px;
	}
}

/*
.content {
	height: 420px;
	margin: 20px 0;
}

.content__titles {
	margin: 0;
	color: #000;
	width: 48%;
}

.content__title {
	font-size: 27px;
	line-height: 1.4;
}

.content__text {
	width: 80%;
	border-bottom: 1px solid rgb(212, 207, 207);
	padding-bottom: 30px;

}

.content-item {
	margin: 20px 0;
}

.block__quality {
	display: inline-block;
	width: 200px;
	text-align: left;
	margin: 0;
}

.item__title {
	font-size: 20px;
	
}

.item__text {
	font-weight: normal;
}

.content-double {
	float: right;
	width: 50%;
}

.doble-titles {
	
	margin: 0;
	background-color: rgb(82, 138, 82);
	width: 300px;
	height: 380px;

	padding: 25px 40px;
	margin-left: 170px;
}

.doble__title {
	font-size: 24px;
	line-height: 1.3;
}

.doble__text {
	width: 300px;
}

.doble-titles__btn {
	background-color: #000;
	
	margin-left: 30px;
}*/

.photography-list {
	padding: 30px 0;
	margin-left: -10px;
    margin-right: -10px;
    font-size: 0;
    flex-wrap: wrap;
}

.photography-list__item {
	width: calc(100% - 20px);
	height: 200px;
	margin: 20px 10px;
		
}

@media screen and (min-width:800px) {
	.photography-list__item {
		display: inline-block;
		width: calc(50% - 20px);
		height: 400px;
	}
}

.photography {
	position: relative;
}

.photography__img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.photography__title {
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: calc(100% - 40px);
	font-size: 16px;
	color: #fff;
	text-shadow: 3px 4px 5px #000;
}


@media screen and (min-width:900px) {
	.photography__title {
		left: 40px;
	
		width: calc(100% - 80px);
		font-size: 21px;
	}
}


.menush {
	margin: 0;
	color: #000;
	font-size: 18px;
}

.menu {
	width: auto;
	margin: 100px 0;
	
}

.panel {
	width:95%;
	margin-bottom: 5px;
	color: #000;
}


.panel__title {
	margin: 10px 0;
	padding: 10px 15px;
	background-color: #f5f5f5;
	font-size: 17px;
	cursor: pointer;
}

.panel__text {
	padding: 18px;
	line-height: 1.6;
	 
	display: none;
	background: #fff;
	
}

.panel-active {
	text-decoration: underline;
}
.active {
  	display: block;
}

.footer {
	width: auto;
	height: 30px;

	text-align: center;
	padding: 30px 0;
	
	background-color: #000;
}

.footer-icon__social {
	font-size: 15px;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	margin: 0;
	
}

.footer-icon__social:hover {
	cursor: pointer;
	color: #000;
}

.fa-instagram {
	border-radius: 15px;
	padding: 8px;
	background-color: rgb(41, 115, 165);
}

.fa-vk {
	border-radius: 15px;
	padding: 8px;
	background-color: rgb(44, 154, 206);
}

.fa-twitch {
	border-radius: 15px;
	padding: 8px;
	background-color: rgb(241, 120, 7);
}

.fa-telegram {
	border-radius: 15px;
	padding: 8px;
	background-color: rgb(62, 141, 206);
}

.fa-google {
	border-radius: 18px;
	padding: 8px;
	background-color: rgb(175, 15, 15);
}

.fa-odnoklassniki {
	border-radius: 18px;
	padding: 8px 10px;
	background-color: rgb(0, 195, 255);
}
