.area {
	width: auto;
	max-width: 1170px;
	margin: 0 auto;
}

.menu {
	font-size: 14px;
	width: 500px;
}

.selection:hover .panel {
	display: block;
}

.selection:hover .arrow {
	background-image: url(cancel.svg);
}

.panel:hover .panel__part {
	display: block;
}

.panel__part:hover .post__part {
	display: block;
}


.selection__title {
	padding: 10px;
	background-color: red;
	border-bottom: 3px solid #fff;
}

.selection__part:hover {
	cursor: pointer;
}

.selection__title:hover {
	cursor: pointer;
}

.selection__part {
	background-color: #fff;
}

.panel {
	display: none;
	padding: 15px;
	border-right: 3px solid #000;
}

.post__part {
	display: none;
	padding: 10px;
}


.post {
	display: none;
	background-color: #fff;
	padding: 10px;
}

.arrow {
	width: 15px;
	height: 15px;
	background-image: url(arrow.svg);
	display: inline-block;
	transform: translateY(10%);
}
