/*шапка меню*/
.area {
  width: auto;
  max-width: 1170px;
  margin: 10px auto;
}

.menu-list {
   display: flex;
   flex-wrap: wrap;
   font-size: 15px;
}

.menu-list__container {
  width: 70px;
  padding: 5px;
  list-style: none;
}

.menu-part {}

.menu-part__title:hover .menu-part__section {
  padding: 5px 15px;
  display: block;
}

.menu-part__section {
  margin-left: -13px;
  list-style: none;
  display: none;
}

.menu-part__suptitle {}

.menu-part__selection {
  list-style: none;
  display: none;
}

.menu-part__suptitle:hover .menu-part__selection {
  background-color: red;
  display: block;
}

.menu-part__points {
  list-style: none;
  display: none;
}

.menu-part__items:hover .menu-part__points {
  background-color: red;
  display: block;
}

/*попапы и кнопки*/

.buts {
  width: 100px;
  height: 30px;
  background-color: #009dde;
  border: 0;
  cursor: pointer;
  margin-right: 10px;
}

.buts_red {
  width: 100px;
  height: 30px;
    background-color: red;
    border: 0;
  cursor: pointer;
  margin-right: 10px;
}


.titletool {
  display: none;
  width: 100px;
  height: 50px;
   background-color: rgba(1, 1, 1, 0.4);
   border-radius: 5px;
   color: #fff;
   padding: 8px;
   font-size: 13px;
   margin-top: 15px;
    margin-left: -10px;
    position: absolute;
}

.titletool:before {
  content: '';
  border: 5px solid transparent;
  border-bottom: 10px solid rgba(1, 1, 1, 0.4);;
  position: absolute;
  margin: -23px 0 0 40px;
}

.formsfon {
  display: none;
 position: fixed;
 left: 0;
  right: 0;
  top: 0;
  bottom: 0;
 z-index: 10;
 background-color: rgba(1, 1, 1, 0.725);
}

.redBackground{
    background-color: red;  
}

.form {
  background: rgba(255,255,255,0.8);
   width: 550px;
  height: 280px;
  border-radius: 6px;
  padding:20px 20px 20px 40px;
}

.forms {
  border-radius: 6px;
  width: 610px;
  height: 320px;
  background-image: url(city.png);
  background-size: cover; 
  font-family: Arial;
  position: fixed;
  left: 0;
  right: 0;
  top: 30%;
  bottom: 0;
 z-index: 20;
 margin: 0 auto;
}


.text {
  max-width: 500px;
  font-size: 20px;
  margin: 10px 0;
  font-weight: bold;
  line-height: 1.5;

}

.input {
    border-radius: 4px;
    width: 330px;
   height: 35px;
   padding: 5px 20px;
   margin: 18px 15px 18px 0;
}

.write {
  width: 120px;
  height: 45px;
  background-color: #3679C7;
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}


.check {
  display: inline-block;
  width: 23px;
  height: 23px;
  cursor: pointer;
}


.stpost {
  vertical-align: top;
  padding-top: 3px;
  display: inline-block;
  margin: 5px 35px 5px 5px;
  font-size: 13px;
}


.postscript {
   width: 400px;
  font-size: 12px;
  opacity: 0.8;
  color: rgba(1, 1, 1, 0.725);
  line-height: 1.5;
}

#special {
    text-decoration: none;
    font-size: 12px;
    color: #3679C7;
    border-bottom: 1px solid #3679C7;
    cursor: pointer;
}

.close {
  background-image:url(close.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -50px;
  right: -50px;
  cursor: pointer;
}

.paper {
  background-image:url(paper.svg);
  background-size: cover;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 60%;
  right: -55px;
}

.question {
  display: inline-block;
   vertical-align: top;
  background-image: url(question.svg);
  background-size: cover;
  width: 15px;
  height: 15px;
  margin-left: -30px;
  margin-top: 8px;
  cursor: pointer;
}

.dialog {
  margin: 80px 20px;
  border: 1px solid #A9A9A9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 260px;
  height: 340px;
}

.header-form {
  display: fixed;
  background-color: #3679C7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 20px;
  color: #fff;
  padding: 15px;
  font-size: 18px;
 
}

.fon {
  background-color: #3679C7;
  height: 250px;
  opacity: 0.3;
}

.close-form {
  background-image: url(closed.svg);
  background-size: cover;
  width: 12px;
  height: 12px;
  float: right;
  margin: 5px 0 5px 5px;
  cursor: pointer;
}

.window-form {
  background-image: url(window.svg);
  background-size: cover;
  width: 12px;
  height: 12px;
  float: right;
  margin: 5px;
  cursor: pointer;
}

.tack-form {
  background-image: url(tack.svg);
  background-size: cover;
  width: 14px;
  height: 14px;
  float: right;
  margin: 5px;
  cursor: pointer;
}

.clip-form {
  background-image: url(clip.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
}

.face-form {
  background-image: url(face.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  margin: 10px;
  cursor: pointer;
  float: right;
}

.inputs {
  margin-left: 23px;
  padding: 5px;
  width: 180px;
  height: 14px;
 border: 0;
 color: #000;
}
