.area {
  width: auto;
  max-width: 1170px;
  margin: 10px auto;
}

.label-zodiac {
    background-image: url(cancer.svg);
    background-size: cover; 
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: -3px 0;
}

/* то что было*/
.label-zodiac1 {
    display: inline-block;
    vertical-align: top;
    padding: 3px 0;
}


.label-zodiac__tip1 {
    background-image: url(cancer.svg);
    width: 14px;
    height: 14px;
    background-size: cover; 
}